.card-blur {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(221, 221, 221, 0.95);

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 250px;
        padding: 10px;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 1px 1px #ddd;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__content {
            flex-basis: 70%;
        }

        &__back,
        &__next {
            flex-basis: 10%;
            font-size: 30px;
            align-self: center;
            cursor: pointer;
        }

        &__remember-or-not {
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid #ddd;
            padding-top: 10px;
        }

        &__remember {
            color: rgb(38, 143, 38);
        }

        &__not-remamber {
            color: rgb(240, 128, 128);
        }
    }
}