.package {
    display: flex;
    border: 1px #ddd solid;
    height: 40px;
    line-height: 40px;
    cursor: pointer;

    &__icon {
        margin-top: 10px;
    }

    &__name {
        font-weight: bolder;
    }
}

.remove-package {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    width: 240px;

    div {
        display: flex;
        justify-content: center;

        button:nth-child(2) {
            margin-left: 5px;
        }
    }

}

.new-package {
    margin-top: 10px;
}

.package-present {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;

    &__delete-package {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    &__learn-btn {
        margin-bottom: 10px;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    &__title {
        margin-top: 10px;
    }

    .words-wrapper {
        padding: 10px;
    }

    .word {
        display: flex;
        padding: 5px;
        border: 2px solid #ddd;
        margin-top: 10px;

        &__details {
            flex-basis: 60%;
        }

        &__name {
            font-size: 25px;
            font-weight: bolder;
        }

        &__translation {
            font-size: 25px;
            color: rgb(104, 101, 101);
        }

        &__underline {
            height: 3px;
            background-color: #ddd;
        }

        &__remove,
        &__edit {
            flex-basis: 20%;
            font-size: 30px;
            align-self: center;
            cursor: pointer;
        }

        &__remember {
            font-weight: bolder;
            letter-spacing: 1px;
            color: red;

            &--true {
                color: green;
            }
        }
    }

    .edit-fish {
        position: fixed;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        background-color: #ddd;
        min-height: 200px;
        min-width: 80vw;
        padding: 10px;

        &__close {
            font-size: 30px;
            align-self: flex-end;
            cursor: pointer;
        }

    }

    .add-new-fish {
        display: flex;
        flex-direction: column;
        padding: 40px;

        &__close {
            font-size: 25px;
            align-self: flex-end;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}

.new-package-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: honeydew;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;
    min-width: 300px;
    border: 1px solid rgb(177, 245, 177);
    border-radius: 10px;


    &__close {
        align-self: flex-end;
        font-size: 25px;
        margin-bottom: 15px;
        cursor: pointer;

    }

    &__input {
        margin-bottom: 5px;
        padding: 5px;
    }
}